.section-title h3{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    /*! display: flex; */
    align-items: center;
    color: #FFFFFF;
    }    
    .section-title p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    display: block;
    align-items: center;
    color: #BCC0D4;
    }